.formContainer {
  display: grid;
  justify-content: center;
  align-items: start;
}

.formContainer button {
  background-color: #c05e3d;
  font-size: 1.5rem;
  padding: 0.5rem;
  max-width: 20%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.submitButton {
  padding: 0.3;
  font-size: 24px;
}
.formContainer span {
  background-color: #c05e3d;
  padding: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  color: white;
}

.formContainer button:hover,
.formContainer span:hover {
  background-color: #a04931; /* Slightly darker shade */
}
.addMeaningButton {
  font-size: 1rem !important;
  width: 100%;
  justify-self: start;
}

.inputGroup,
.meaningGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 0.5rem; /* Space between inputs and labels */
}
.audioGroup {
  display: none;
}
.wordMeaning {
  display: flex;
  max-width: 80vw;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: end;
  text-align: left;
}

.wordMeaning label {
  color: white;
}
.textInput,
.selectInput {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.textInput:focus,
.selectInput:focus {
  outline: none;
  border-color: #4752c6;
  box-shadow: 0 0 5px rgba(71, 82, 198, 0.5);
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.addMeaningButton,
.removeButton,
.submitButton {
  padding: 0.8rem 1rem;
  margin-top: 1.5rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4752c6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wordMeaning label {
  font-size: 1.1rem;
  color: #333;
}

.addMeaningButton:hover,
.removeButton:hover,
.submitButton:hover {
  background-color: #363e9a;
}

.addMeaningButton {
  align-self: flex-start; /* Align to the start of the form */
}

.removeButton {
  background-color: #d9534f;
  height: 80%;
}

.removeButton:hover {
  background-color: #c12e2a;
}

.audioGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  .inputGroup,
  .meaningGroup,
  .audioGroup {
    max-width: 700px;
  }
  .audioGroup {
    display: flex;
  }
  .inputGroup > label {
    text-align: left;
    font-size: 32px;
  }

  .textInput,
  .selectInput {
    font-size: 1.1rem;
    width: 100%;
  }

  .addMeaningButton,
  .removeButton {
    font-size: 1.1rem;
  }
  .submitButton {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
