.container {
  padding: 1rem;
  min-height: 80vh;
}
.container h3 {
  font-size: 32px;
}
.container > form > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.6rem;
}
.container form {
  padding: 3rem;
}
.container > form input,
.container > form select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 28px;
  color: black;
  border: 2px solid transparent;
  outline: none; /* Removes the default outline */
  transition: all 0.3s ease; /* Smooth transition effect */
}
.container > form input:focus {
  border-color: #bc6c25; /* Add a nice border color */
  box-shadow: 0 0 8px rgba(171, 96, 21, 0.5); /* Glowing effect */
  background-color: #ffffff; /* Subtle background change */
}
.container > form label {
  color: #080808;
  font-size: 28px;
}

.container > form button {
  background-color: #c05e3d;
  font-size: 1.5rem;
  padding: 1rem;
  max-width: 20%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.container > form button:hover {
  background-color: #a04931; /* Slightly darker shade */
}
