.container {
  display: flex;
  justify-content: space-between;
  background-color: #283618;
  /* width: 50vw; */
  width: 100%;
  max-height: 150px;
}
.container li {
  list-style-type: none;
  padding: 3rem;
}

.link {
  color: white;
  font-size: 32px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  color: white;
}
